PORT=3000
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/pokedex1?ssl=true&replicaSet=atlas-xxxxx-shard-0&authSource=admin
CLIENT_URL=http://localhost:5173
VAPID_PUBLIC_KEY=BMxxxxxxxxxxxxxx...
VAPID_PRIVATE_KEY=privateKeyHereXxxxxxx...
